
body {
    margin: 0;
    background-color:white;
    padding-bottom: 30px;
    }
    #section{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #D3D3D3;
    font-family: sans-serif;
}
#title {
    text-align: center;
    padding-top: 50px;
    }
   
#p {
       text-align: center;
       margin-top: 3px;
   }
#img-div{
       background-color: white;
       margin-left: 20px;
       margin-right: 20px;
        }
#image{
       margin-left: 150px;
       margin-top: 30px;
        }
#img-title{
    text-align: center;
    padding-bottom: 20px;
            }
 #h2{
       margin-top: 50px;
       text-align: center;
   }
#tribute-info{
       margin-top: 40px;
       text-align: justify;
       margin-right: 30%;
       margin-left: 30%;
   }
 #info{
       text-align: justify;
       margin-left: 30%;
       margin-right: 30%;
   }
#link{
       text-align: justify;
       margin-left: 20%;
       margin-right: 20%;
       margin-top: 40px;
       font-size: medium;
       padding-bottom: 50px;
   }
